nav(class=["navbar", "navbar-default"] role="navigation")
	ul(class=["navbar", "navbar-nav"])
		li
			a(href="/") Главная
	ul(class=["navbar", "navbar-nav", "navbar-right"])
		li
			a(href="/login") Войти
